
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #b2bec3;
}

h1 {
  color: #d63031;
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}
.box {
  margin: 150px auto;
  position: relative;
  background-color: #ffffff;
  width: 550px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  font-family: "Nunito", sans-serif;
}

.foto {
  width: 150px;
  display: block;
  position: absolute;
  right: -75px;
  top: -75px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  width: 490px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
}

.twitter {
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
}

.facebook {
  border: 1px solid #3b5998;
  background-color: #3b5998;
  margin-top: 5px;
}

.twitter:active,
.twitter:hover,
.twitter:focus {
  background-color: #0b7bc1;
}

.facebook:active,
.facebook:hover,
.facebook:focus {
  background-color: #2b406e;
}


